html,body {
    font-family: 'Raleway', sans-serif;
    padding: 3em 2em;
    font-size: 18px;
    background: #222;
    color: #aaa
}

.top-section {
    flex: 100vh;
    /*flex-grow: full;*/
}

h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
}
h1 {
    font-size: 3.5em;
}
h2 {
    color: #888;
    font-size: 2em;
}

.cv-button {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 16px;
    color: #b0b0b0;
    background: none;
    padding: 1vh 1vw;
    border-radius: 5px;
    border: 2px solid #5f5f5f;
    text-decoration: none;
    position: relative;
    transition-duration: 0.3s;
}

button:hover{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    border: 2px solid #969595;
    background: none;
    cursor: pointer !important;
    text-decoration: none;
}

.icons {
    align-items: flex-start;
    padding: 3vh 0.3vw;
}


.icons i {
    color: #5f5f5f;
    background: #b0b0b0;
    height: 15px;
    width: 15px;
    padding: 13px;
    margin: 0 0.2vw;
    border-radius: 50px;
    border: 2px solid #b0b0b0;
    transition: all 200ms ease;
    text-decoration: none;
    position: relative;
}

.icons i:hover, .icons i:active {
    color: #b0b0b0;
    background: none;
    cursor: pointer !important;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    text-decoration: none;

}


